<div class="login-container">
  <mat-card class="card">
    <mat-card-title>Insira suas credenciais!</mat-card-title>
    <mat-card-subtitle
      >Insira suas credenciais para acessar a aplicação e ter acesso as melhores ferramentas do mercado.</mat-card-subtitle
    >

  <mat-form-field appearance="outline">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="seunome@email.com">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Senha</mat-label>
    <input matInput placeholder="Senha">
  </mat-form-field>

    <mat-card-actions>
     <button mat-flat-button color="primary">Primary</button>      
     <a>Basic</a>
    </mat-card-actions>
  </mat-card>
  <br />
</div>
